.advantages {
    min-height: 470px;
    padding: 70px 0 81px 0;
    background-color: #f6f6f6;
    &__wrapper {
        width: 920px;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        
    }
    &__block {
      width: 247px;
      img {
          display: block;
          margin: 0 auto;
      }  
    }
    &__header {
        text-align: center;
        margin-top: 38px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #0d0d0d; 
    }
    &__descr {
        margin-top: 26px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        a {
            color: $main-color;
        } 
    }
}
