.title {
        font-size: 30px;
        line-height: 1;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center; 
        &_left { 
            margin-bottom: 0;           
            font-size: 36px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #ffffff; 
            text-align: left; 
        }
    }